<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div *ngIf="orderHistoryList.length > 0" class="">
                <table class="table table-ordered">
                    <tr>
                        <th width="20%">Order Tracking Number</th>
                        <th width="10%">Total Price</th>
                        <th width="10%">Total Quantity</th>
                        <th width="15%">Date</th>
                    </tr>

                    <tr *ngFor="let orderHistory of orderHistoryList">
                        <td>
                            {{ orderHistory.orderTrackingNumber }}
                        </td>
                        <td>
                            {{ orderHistory.totalPrice | currency: 'USD' }}
                        </td>
                        <td>
                            {{ orderHistory.totalQuantity }}
                        </td>
                        <td>
                            {{ orderHistory.dateCreated | date: 'medium' }}
                        </td>
                    </tr>
                </table>
            </div>
            <div *ngIf="orderHistoryList.length == 0" class="alert alert-warning col-md-12" role="alert">
                No Oders Found.
            </div>
        </div>
    </div>
</div>
